<!DOCTYPE html>
<html>

<head>
    <title>Doctor</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme1.css" type="text/css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/982494c467.js" crossorigin="anonymous"></script>

    <link href="../css/doctor.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/app.js"></script>
    <link rel = "icon" href = 
"https://images.creativemarket.com/0.1.0/ps/2282307/910/607/m1/fpnw/wm0/11-01-.png?1487173609&s=c29fbda5784aaedecbaecaeb6d49039f&fmt=webp" 
        type = "image/x-icon">

</head>

<!--Body section-->

<body>
    <header>
        <!--Mobile and tablet-->
        <nav class="head1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />
            </figure>
            <i class="fa fa-bars"></i>
        </nav>

        <!--Desktop-->
        <div class="head2-container">
            <nav class="head2">


                <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                        alt="logo" /></a>


                <ul>
                    <a href="/doctor">
                        <li>Doctor</li>
                    </a>
                    <a href="/hospital">
                        <li>Hospital</li>
                    </a>
                    <a href="/treatment">
                        <li>Treatment</li>
                    </a>

                    <a href="/aboutUs">
                        <li>About</li>
                    </a>
                </ul>
                <div>
                    <a href="/tvastraplus"> <button class="btn_blue">TVASTRA PLUS</button> </a>
                    <a href="/queryform"> <button class="btn_darkblue">Get a Quote</button></a>
                    <div id="user">
                        <button class="btn_white" onclick="tgl('toaster')">
                            <%=username%>
                        </button>
                        <i class="fa fa-angle-down"></i>

                    </div>

            </nav>
        </div>
    </header>
    <div class="toaster" id="toaster">
        <div>
            
            <a href="/profile">
            <figure id="toaster-img">
                
                <img id="headerpic"
                    src="<%=image%>">
                
                </figure>
                </a>
                
            <h5>
                <%=username%>
            </h5>
        </div>
        <ul>
            <a href="/myappointments">
                <li>My Appointments</li>
            </a>
            <a href="/medicalrecords">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <a href="#">
                <li>My payments</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>

    <!--For desktop and tablet picture with linear gradient-->
    <section class="hide">
        <h2>Cardiac Surgeon in <span>Delhi</span></h2>

    </section>

    <!--First Section-->
    <section class="bg_white">
        <div class="home_and_sort_flex">
            <h3>Home/Doctor List</h3>
            <select id="cars">
                <option value="volvo">Sort By</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>

        <!--Doctor Image & Appointment-->
        <div class="filter_and_card_grid1">
            <div class="filter">
                <div class="bg_gray">
                    <h4>Filter By</h4>
                </div>

                <div class="location">
                    <div class="flex_for_icon">
                        <h5>Location</h5>
                        <i class="fa fa-search"></i>

                    </div>
                    <div class="checkbox">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <label for="vehicle1"> DLF Cyber City</label><br>

                        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                        <label for="vehicle2"> Dwaraka</label><br>

                        <input type="checkbox" id="vehicle3" name="vehicle3" value="Bike">
                        <label for="vehicle3"> Lajpat Nagar</label><br>

                        <input type="checkbox" id="vehicle4" name="vehicle4" value="Bike">
                        <label for="vehicle4"> Palam Vihar</label><br>

                        <input type="checkbox" id="vehicle5" name="vehicle5" value="Bike">
                        <label for="vehicle5"> Panjabi  Baag</label><br>

                        <input type="checkbox" id="vehicle6" name="vehicle6" value="Bike">
                        <label for="vehicle6"> Pusa Road</label><br>

                        <h6>+ Show more</h6>
                    </div>


                    <!--Treatment-->
                    <div class="flex_for_icon">
                        <h5>Treatment</h5>
                        <i class="fa fa-search"></i>

                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="vehicle7" name="vehicle7" value="Bike">
                        <label for="vehicle7"> Multi Organ Transplant</label><br>

                        <input type="checkbox" id="vehicle8" name="vehicle8" value="Bike">
                        <label for="vehicle8"> Orthopedics Surgery</label><br>

                        <input type="checkbox" id="vehicle9" name="vehicle9" value="Bike">
                        <label for="vehicle9"> Infertility Treatment</label><br>

                        <input type="checkbox" id="vehicle10" name="vehicle10" value="Bike">
                        <label for="vehicle10"> Dentistry</label><br>

                        <input type="checkbox" id="vehicle11" name="vehicle11" value="Bike">
                        <label for="vehicle11"> Cardiology</label><br>

                        <input type="checkbox" id="vehicle12" name="vehicle12" value="Bike">
                        <label for="vehicle12"> Cancer</label><br>

                        <h6>+ Show more</h6>
                    </div>

                    <!--Hospitals-->

                    <div class="flex_for_icon">
                        <h5>Hospitals</h5>
                        <i class="fa fa-search"></i>

                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="vehicle13" name="vehicle13" value="Bike">
                        <label for="vehicle13"> Appolo hospital</label><br>

                        <input type="checkbox" id="vehicle14" name="vehicle14" value="Bike">
                        <label for="vehicle14"> Aiims Hospital</label><br>

                        <input type="checkbox" id="vehicle15" name="vehicle15" value="Bike">
                        <label for="vehicle15"> G.B Hospital</label><br>

                        <input type="checkbox" id="vehicle16" name="vehicle16" value="Bike">
                        <label for="vehicle16"> Manipal Hospital</label><br>

                        <input type="checkbox" id="vehicle17" name="vehicle17" value="Bike">
                        <label for="vehicle17"> AIIMS</label><br>

                        <input type="checkbox" id="vehicle18" name="vehicle18" value="Bike">
                        <label for="vehicle18"> ILS Hospital</label><br>

                        <h6>+ Show more</h6>
                    </div>

                    <!--Years of experience-->

                    <div class="flex_for_icon">
                        <h5>Years of experience</h5>
                        <i class="fa fa-search"></i>

                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="vehicle19" name="vehicle19" value="Bike">
                        <label for="vehicle19"> 30+</label><br>

                        <input type="checkbox" id="vehicle20" name="vehicle20" value="Bike">
                        <label for="vehicle20"> 25+</label><br>

                        <input type="checkbox" id="vehicle21" name="vehicle21" value="Bike">
                        <label for="vehicle21"> 20+</label><br>

                        <input type="checkbox" id="vehicle22" name="vehicle22" value="Bike">
                        <label for="vehicle22"> 15+</label><br>

                        <input type="checkbox" id="vehicle23" name="vehicle23" value="Bike">
                        <label for="vehicle23"> 10+</label><br>

                        <input type="checkbox" id="vehicle24" name="vehicle24" value="Bike">
                        <label for="vehicle24"> 5+</label><br>

                        <h6>+ Show more</h6>
                    </div>










                </div>
            </div>


            <div id="docinfo">
                <% for(var i=0;i< findall.length;i++){%>
                    
                
                
                <div class="bordergray grid2">
                    <div class="docname">
                        <a href="/docprofile">
                        <h3><%= findall[i].name %></h3>
                        </a>
                        <div class="grid_for_tab_and_desktop">
                            <div class="grid_for_icon">
                                <i class="fa fa-certificate"></i>
                                <ul>
                                    <li><%= JSON.parse(findall[i].qualification)[0].value %></li>
                                </ul>
                            </div>
                            <div class="grid_for_icon">
                                <i class="fas fa-award"></i>
                                <ul>
                                    <li><%= JSON.parse(findall[i].awards)[0].value %></li>
                                </ul>
                            </div>
                            <div class="grid_for_icon">
                                <i class="fa fa-clock-o "></i>
                                <ul>
                                    <li><%= findall[i].exp %></li>
                                </ul>
                            </div>
                            <div class="grid_for_icon">
                                <i class="fa fa-hospital-o"></i>
                                <ul>
                                    <li><%= JSON.parse(findall[i].hospitals)[0].value %></li>
                                </ul>
                            </div>

                            <div class="grid_for_icon">
                                <i class="fa fa-map-marker "></i>
                                <ul>
                                    <li><%= findall[i].location %></li>
                                </ul>
                            </div>
                        </div>
                        

                        <button type="submit" class="btn_darkblue" onclick="showslot('container<%= findall[i]._id %>')">Book an appointment</button>
                    </div>
                    <figure>
                    <img src="<%= findall[i].image %>" />
                        </figure>

                    <div class="slots" id="container<%= findall[i]._id %>">
                        <div class="dates">
                            <i class="fas fa-angle-left"></i>
                            <div class="dates-and-slots">
                                <% for(var k=0;k<3;k++){%>
                                <div>
                                    <h6><%= date[k] %></h6>
                                    <span>0 Slots Available</span>
                                </div>
                                <%}%>
                                
                            </div>
                            <i class="fas fa-angle-right"></i>
                        </div>
                        <div class="timings-and-slots">
                            <div class="morning">
                                <h4>Morning</h4>
                                <ul class="slot-timings">
                                    <li>03:00 AM</li>
                                    <li>03.30 AM</li>
                                    <li>04.00 AM</li>
                                    <li>04.00 AM</li>
                                    <li>04.00 AM</li>
                                    <li>04.00 AM</li>
                                </ul>
                            </div>
                            <div class="morning afternoon">
                                <h4>Afternoon</h4>
                                <ul>
                                    <li>No Slots to show</li>
                                </ul>
                            </div>
                            <div class="evening afternoon morning">
                                <h4>Evening</h4>
                                <ul>
                                    <li>No Slots to show</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <% } %>

                



                <!--Second div-->

                

                

                

                
                <!--6th Div-->
                
            </div>
        </div>
    </section>


    <section class="pagination">
        <div id="pagination">
            <% for(i=1;i<=lastpage;i++){%>
        <a href="/doctor?page=<%= i%>"><%= i %></a>
            <%}
        %>
        </div>
    </section>
    <!--Need Help-->
    <section class="nd_help">
        <div class="nd_help1">
            <h2>Need Help?</h2>
            <p>Just let us know we will happy to assist you</p>
        </div>
        <div class="btn2 nd_help2">
            <button type="submit" class="btn_blue">Submit your enquiry</button>
        </div>
    </section>

    <!--Footer**********************************************************************-->
    <footer>
        <div class="mobileshow">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" />
            </figure>
            <ul class="about">
                <h2>TVASTRA</h2>
                <li>Doctors</li>
                <li>Hospitals</li>
                <li>Treatment</li>
                <li>Other services</li>
                <li>FAQs</li>
                <h2>FOLLOW US</h2>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Google+</li>
                <li>Instagram</li>
            </ul>


            <p class="rights">All Rights Reserved. &#169 tvastra <span>2018</span></p>
        </div>

        <div class="tabshow">


            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png" />
            </figure>
            <ul class="about">
                <li>Doctor</li>
                <li>Hospital</li>
                <li>Treatment</li>
                <li>Other services</li>
                <li>FAQs</li>
            </ul>
            <div class="social_icon">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-pinterest-p"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-instagram"></i>
            </div>
            <p class="rights">All Rights Reserved. &#169 tvastra <span>2018</span></p>

        </div>
    </footer>


<script>
    function showslot(id){
        var k=document.getElementById(id);
        if(k.style.display=="block")
        k.style.display="none";
        else
        k.style.display="block";
    }
</script>
</body>

</html>