<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/clocklet@0.3.0/css/clocklet.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="../css/theme1.css" type="text/css" rel="stylesheet">
    <link href="../css/docdetails.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css" />
    <link href="../css/profile.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../script/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clocklet@0.3.0"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
    <link rel = "icon" href = 
"https://images.creativemarket.com/0.1.0/ps/2282307/910/607/m1/fpnw/wm0/11-01-.png?1487173609&s=c29fbda5784aaedecbaecaeb6d49039f&fmt=webp" 
        type = "image/x-icon">


</head>

<body>
    <header>
        <!--Mobile and tablet-->
        <nav class="head1">
            <figure>
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo" />
            </figure>
            <div class="image-for-mobile">
                <figure id="toaster-img">
                        
                    <img id="headerpic"
                        src="<%=image%>"
                        >
                    
                    </figure>
            <i class="fa fa-bars" onclick="tgl('toastermob')"></i>
            </div>


        </nav>

        <div class="toastermob" id="toastermob">
            <ul>
                <a href="/myappointments">
                    <li>My Appointments</li>
                </a>
                <a href="/medicalreport">
                    <li>Medical Records</li>
                </a>
                <a href="/settings">
                    <li>Settings</li>
                </a>
                <a href="#">
                    <li>My payments</li>
                </a>
                <a href="/logout">
                    <li>Logout</li>
                </a>
            </ul>
        </div>

        <!--Desktop-->
        <div class="head2-container">
            <nav class="head2">


                <a href="/index"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
                        alt="logo" /></a>


                <ul>
                    <a href="/doctor">
                        <li>Doctor</li>
                    </a>
                    <a href="/hospital">
                        <li>Hospital</li>
                    </a>
                    <a href="/treatment">
                        <li>Treatment</li>
                    </a>

                    <a href="/aboutUs">
                        <li>About</li>
                    </a>
                </ul>
                <div>
                    <a href="/tvastraplus"> <button class="btn_blue">TVASTRA PLUS</button> </a>
                    <a href="/queryform"> <button class="btn_darkblue">Get a Quote</button></a>
                    <div id="user">
                        <button class="btn_white" onclick="tgl('toaster')">
                            <%=username%>
                        </button>
                        <i class="fa fa-angle-down"></i>

                    </div>

            </nav>
        </div>
    </header>
    <div class="toaster" id="toaster">
        <div>

            <a href="/profile">
                <figure id="toaster-img">

                    <img id="headerpic" src="<%=image%>">

                </figure>
            </a>

            <h5>
                <%=username%>
            </h5>
        </div>
        <ul>
            <a href="/myappointments">
                <li>My Appointments</li>
            </a>
            <a href="/medicalreport">
                <li>Medical Records</li>
            </a>
            <a href="/settings">
                <li>Settings</li>
            </a>
            <a href="#">
                <li>My payments</li>
            </a>
            <a href="/logout">
                <li>Logout</li>
            </a>
        </ul>
    </div>

    <section class="main-section">
        <div class="mobile-tab">
            <div class="grid-for-dashboard">
                <i class='fas fa-angle-double-right' onclick="tgl('dashboardmob')"></i>
                <h3>Click To View Dashboard</h3>
            </div>
            <div class="dashboardmob" id="dashboardmob">
                <i class="fa fa-close" onclick="tgl('dashboardmob')"></i>
                <ul>
                    <a href="/profile">
                        <li> Profile</li>
                    </a>

                    <a href="/myappointments">
                        <li> Appointments</li>
                    </a>
                    <a href="/medicalreport">
                        <li>Medical Reports</li>
                    </a>
                    <% if(isDoctor){%>
                        <a href="/addschedule">
                            <li>Add Schedule</li></a>
                        <%}%>
                    <a href="/settings">
                        <li>Settings</li>
                    </a>
                    
                    
                </ul>
            </div>
        </div>
        <div class="desktop">
            <div class="grid-for-dashboard">
                <i class='fas fa-angle-double-right'></i>
                <h3>Dashboard</h3>
            </div>
            <div class="dashboard">
                <div class="  active-btn" id="profile-btn">
                    <i class='fa fa-address-book'></i>
                    <h3>Profile</h3>
                </div>

                <a href="/myappointments">
                <div class=" inactive-btn" id="appointments-btn">
                    <i class='fa fa-address-book'></i>
                    <h3>Appointments</h3>
                </div>
                </a>

                <a href="/medicalreport">
                <div class=" inactive-btn" id="reports-btn">
                    <i class='fa fa-address-book'></i>
                    <h3>Medical Reports</h3>
                </div>
                </a>

                <% if(isDoctor){%>
                <a href="/addschedule">
                    <div class=" inactive-btn" id="schedule-btn">

                        <i class='fa fa-address-book'></i>
                        <h3>Add Schedule</h3>

                    </div>
                </a>
                <%}%>

                <a href="/settings">
                <div class="inactive-btn" id="settings-btn">

                    <i class='fa fa-address-book'></i>
                    <h3>Settings</h3>
                </div>
                </a>
            </div>
        </div>
        <div class="form-div">

            <form class="medical-record-form" action="/updateprofile" enctype="multipart/form-data" method="POST"
                id="profile">
                <div class="medical-record">
                    <h2>My Profile</h2>
                    <button type="submit" class="btn_blue">Save Changes</button>
                </div>

                <div class="wrap">
                    <div class=profile-photo-name>
                        <h4>Profile Photo</h4>
                        <div class="photo-and-text">
                            <figure>
                                <img id="output" src="<%=image%>">
                            </figure>
                            <div class="text">
                                <p>Pic a photo from your system</p>
                                <label for="upload-pic" class="inputLabel picInputLabel">Select Photo</label>
                                <input type="file" name="image" id="upload-pic" accept="image/*"
                                    onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])">
                            </div>

                        </div>
                    </div>
                    <div class="label_input">
                        <label for="name">Name</label>
                        <input name="name" id="name" value="<%=username%>" required>
                    </div>
                </div>

                <div class="details">
                    <div class="label_input">
                        <label for="mobileno">Phone Number</label>
                        <input name="mobileno" id="mobileno" value="<%=mobileno%>"  required>
                    </div>

                    <div class="label_input">
                        <label for="email">Email</label>
                        <input name="email" id="email" value="<%=email%>" required readonly>
                    </div>

                    <div class="label_input">
                        <label for="gender">Gender</label>
                        <input name="gender" id="gender" value="<%=gender%>" required>
                    </div>

                    <div class="label_input">

                        <label for="dob">Date of Birth</label>
                        <input name="dateofbirth" id="dob" value="<%=dateofbirth%>" required class="maxdateset">
                    </div>


                    <div class="label_input">
                        <label for="timezone">Time Zone</label>
                        <input name="timezone" id="timezone" value="">
                    </div>
                </div>


                <div class="addr-details">
                    <div class="label_input">
                        <label for="house-number">House Number/Street</label>
                        <input name="house-number" id="house-number" value="">
                    </div>

                    <div class="label_input">
                        <label for="colony">Colony/Locality</label>
                        <input name="colony" id="colony" value="">
                    </div>

                    <div class="label_input">
                        <label for="city">City</label>
                        <input name="city" id="city" value="<%=city%>" required >
                    </div>

                    <div class="label_input">
                        <label for="state">State</label>
                        <input name="state" id="state" value="<%=state%>" required>
                    </div>

                    <div class="label_input">
                        <label for="country">Country</label>
                        <input name="country" id="country" value="<%=country%>" required>
                    </div>
                </div>

                <% if(isDoctor){%>
                    <div class="doc-details">
                        <div class="label_input">

                            <label for="hospitals">Your Hospital</label>
                            <input name='hospitals' id="hospitals" class='some_class_name' value=<%=hospitals%> required>
                        </div>
                        <div class="label_input">
                            <label for="achievements">Achievements</label>
                            <input name='achievements' class='some_class_name' placeholder='write some tags'
                                value=<%=achievements%> required>
                        </div>

                        <div class="label_input">
                            <label for="exp">Experience</label>
                            <input type="number" id="exp" name="exp" value=<%=exp%> required>
                        </div>

                        <div class="label_input">
                            <label for="qualification">Qualification</label>
                            <input name='qualification' id="qualification" class='some_class_name'
                                placeholder='write some tags' value=<%=qualification%> required>
                        </div>

                        <div class="label_input">
                            <label for="awards">Awards</label>
                            <input name='awards' id="awards" class='some_class_name' placeholder='write some tags'
                                value=<%=awards%>>
                        </div>

                        <div class="label_input">

                            <label for="specialization">Specialization</label>
                            <input name='specialization' id="specialization" class='some_class_name'
                                placeholder='write some tags' value=<%=specialization%>>
                        </div>

                        <div class="label_input">

                            <label for="fees">Your average Fees</label>
                            <input type="number" id="fees" name="fees" value=<%=fees%>>
                        </div>








                    </div>
                    <div class="label_input textarea-div">

                        <label for="description">Describe Yourself</label>
                        <textarea id="description" name="description" rows="2"><%=description%>
                            </textarea>

                    </div>
                    <%}%>
            </form>





        </div>




        <script>


            var input = document.querySelector('input[name=hospitals]');

            var input2 = document.querySelector('input[name=achievements]');
            var input3 = document.querySelector('input[name=qualification]');
            var input4 = document.querySelector('input[name=awards]');
            var input5 = document.querySelector('input[name=specialization]');


            // initialize Tagify on the above input node reference
            new Tagify(input)
            new Tagify(input2)
            new Tagify(input3)
            new Tagify(input4)
            new Tagify(input5)

        </script>
        </section>
        <!--Need Help-->
    <section class="nd_help">
        <div class="nd_help1">
            <h2>Need Help?</h2>
            <p>Just let us know we will happy to assist you</p>
        </div>
        <div class="btn2 nd_help2">
            <button type="submit" class="btn_blue">Submit your enquiry</button>
        </div>
    </section>

    <%-include('footer.ejs')%>

</body>

</html>